<p id="notice"><%= notice %></p>

<p>
  <b>Type:</b>
  <%= @product_type.type_of_products %>
</p>


<%= link_to 'Edit', edit_product_type_path(@product_type) %> |
<%= link_to 'Back', product_types_path %>
