

<%= image_tag "http://maps.google.com/maps/api/staticmap?size=750x500&sensor=false&zoom=16&markers=#{@location.latitude}%2C#{@location.longitude}" %>

<ul>
  <% for location in @location.nearbys(10) %>
      <li><%= link_to location.address, location %> (<%= location.distance.round(2) %> miles)</li>
  <% end %>
</ul>

